# Django configuration
DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-this-in-production

# Postgres Database configuration
DB_NAME=url_shortener_db
DB_USER=postgres
DB_PASSWORD=postgres_password

# Database URL used by the web service
DATABASE_URL=postgres://postgres:postgres_password@db:5432/url_shortener_db
